body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    height: 470px;
    color: white;
}

.container {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.top-container,
.bottom-container {
    display: flex;
    justify-content: space-between; 
}

.top-container {
    margin-bottom: 70px;
}

.logo {
    margin-left: 120px;
    font-weight: 900;
}

a {
    color: white;
    font-weight: 900;
    text-decoration: none;
}

ul{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 70px;
}

.MainText {
    margin-left: 120px;
    display: flex;
    flex-direction: column;
}

.first {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.teste {
    margin-right: 70px;    
    height: 200px;
    width: 400px;
    border-radius: 15px;
}

.signup-btn {
    margin: 0px;
    border: none;
    margin-top: 20px;
    color: white;
    font-weight: 900;
    background-color: #3287e2;
    font-size: 16px;
    border-radius: 5px;
    width: 110px;
    height: 35px;
}

.container-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    height: 470px;
}

.someInformation {
    color: #1F2937;
    font-weight: 900;
    font-size: 30px;
    margin: 35px;
}

.Photocards {
    margin: 20px;
    display: flex;
    gap: 60px;
}

.container-cards {
    width: 180px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.nemete {
    width: 100%;
    border-radius: 15px;
}

.card {
 /* Garante que o elemento ocupe a largura total */
    width: 100%; /* Faz o texto usar toda a largura disponível */
    text-align: justify;
}

.container-phrase {
    background-color: #E5E7EB;
}

.phrase {
    display: flex;
    padding: 10px;
    font-size: 30px;
    height: 120px;
}

.cont-phrases {
    margin: 60px;
    margin-left: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 850px;
}

.author {
    font-size: 20px;
    font-weight: 500;
    margin-left: 650px;
    color: #1F2937;
}

.signup-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    height: 240px;
    background-color: white;
}

.blue {
    display: flex;
    align-items: center;
    gap: 100px;
    color: white;
    background-color: #3287e2;
    height: 120px;
    width: 800px;
    border-radius: 15px;
}

.textos {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 150px;
}

.texto-action {
    font-weight: 900;
    font-size: 25px;
}

.asking {
    font-weight: 600;
    font-size: 19px;
}

.lower-signup{
    border: none;
    font-size: 19px;
    color: white;
    font-weight: 900;
    background-color: #3287e2;
    width: 110px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid white;
}

.container-copy {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.texto-copy {
    color: white;
    font-size: 20px;
}
